@model IEnumerable<CursoMOD119.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@(
Html
.Grid(Model)
.Build(columns =>
{
    columns.Add(Model => Model.SaleDate)
    .Titled(SharedLocalizer["Sale Date"])
    .Filterable(GridFilterType.Double)
    .Formatted("{0:d}");


    columns.Add(Model => Model.SaleDate).Titled(SharedLocalizer["Amount"]).Formatted("{0:0.00}");
    columns.Add(Model => Model.SaleDate).Titled(SharedLocalizer["Client"]);

    columns.Add(Model => Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit", new { id = Model.ID }));
    columns.Add(Model => Html.ActionLink(SharedLocalizer["Details"].Value, "Details", new { id = Model.ID }));

   
    if (User.IsInRole(AppConstants.OPERATIVE_ROLE))
    {
        columns.Add(Model => Html.ActionLink(SharedLocalizer["Details"].Value, "Details", new { id = Model.ID }));
    }
    if (User.IsInRole(AppConstants.ADMIN_ROLE))
    {
        columns.Add(Model => Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = Model.ID }));
    }
   

   
})
.Filterable()
.Pageable(pager =>
{
    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 3, "3" }, { 4, "4" } };
    pager.ShowPageSizes = true;
    pager.PagesToDisplay = 3;
    pager.RowsPerPage = 3;
})

)
