@using CursoMOD119.lib;
@using Microsoft.AspNetCore.Mvc.Localization;

@*@model PaginatedList<CursoMOD119.Models.Client>*@
@model IEnumerable<Client>

@inject IHtmlLocalizer<Resource> SharedLocalizer


@{
    ViewData["Title"] = "Index";

    //var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    //var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    //var pageNumber = (int)ViewData["PageNumber"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @SharedLocalizer["Find by name"]: 
            <input type="text" name="searchName" value="@ViewData["SearchName"]" />
            <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-primary" /> |
            <a asp-action="Index">@SharedLocalizer["Return to Full List"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["NameSort"]" 
                    asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["BirthdaySort"]"
                   asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Birthday)
                   </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["EmailSort"]" 
                    asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Email)
                    </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["ActiveSort"]"
                   asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Active)
                   </a>
            </th>
            <th>
                @SharedLocalizer["Actions"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ID">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-searchName="@ViewData["SearchName"]"
               class="page-link">@SharedLocalizer["Previous"]</a>
        </li>

        @for (int i = 0; i < Model.TotalPages; i++)
        {
            <li class="page-item">
                <a asp-action="Index" asp-route-pageNumber="@(i+1)" class="page-link">@(i + 1)</a>
            </li>
        }

        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-searchName="@ViewData["SearchName"]"
               class="page-link">@SharedLocalizer["Next"]</a>
        </li>
    </ul>
</nav>*@


@(
Html
.Grid(Model)
.Build(columns =>
{
    columns.Add(Model => Model.Name);


    columns.Add(Model => Model.Birthday).Titled(SharedLocalizer["Birthday"]).Formatted("{0:0.00}");
    columns.Add(Model => Model.Email).Titled(SharedLocalizer["Email"]);
    columns.Add(Model => Model.Active)
    .Titled(SharedLocalizer["Active"])
    .RenderedAs(Model => Model.Active == true ? SharedLocalizer["Yes"] : SharedLocalizer["No"].Value)
    .UsingFilterOptions(new[]
    {
     new SelectListItem { Value = "true", Text = SharedLocalizer["Yes"].Value},
     new SelectListItem { Value = "false", Text = SharedLocalizer["No"].Value}
    });

    columns.Add(Model => Model.Active)
   .Titled(SharedLocalizer["Active"])
   .RenderedAs(Model => Html.DisplayFor(x => Model.Active));

    columns.Add(Model => Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit", new { id = Model.ID }));
    columns.Add(Model => Html.ActionLink(SharedLocalizer["Details"].Value, "Details", new { id = Model.ID }));
    columns.Add(Model => Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = Model.ID }));


})
.Filterable()
.Pageable(pager =>
{
    pager.PageSizes = new Dictionary
<Int32, String> { { 0, "All" }, { 3, "3" }, { 4, "4" } };
    pager.ShowPageSizes = true;
    pager.PagesToDisplay = 3;
    pager.RowsPerPage = 3;
})

)

