@using CursoMOD119.lib;
@using Microsoft.AspNetCore.Mvc.Localization;

@model PaginatedList<CursoMOD119.Models.Item>


@inject IHtmlLocalizer<Resource> SharedLocalizer

@{
    ViewData["Title"] = "Index";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @SharedLocalizer["Find by name"]: 
            <input type="text" name="searchName" value="@ViewData["searchName"]"/>
            <input type="submit" name="@SharedLocalizer["Search"]" class="btn btn-default" />
            <a asp-action="Index">@SharedLocalizer["Return to full list"]</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["NameSort"]"
                    asp-route-searchName="@ViewData["SearchName"]"> @Html.DisplayNameFor(model => model.First().Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["PriceSort"]"
                    asp-route-searchName="@ViewData["SearchName"]">@Html.DisplayNameFor(model => model.First().Price)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["CreationDateSort"]"
                   asp-route-searchName="@ViewData["SearchName"]">@Html.DisplayNameFor(model => model.First().CreationDate)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["DiscontinuedSort"]"
                   asp-route-searchName="@ViewData["SearchName"]">@Html.DisplayNameFor(model => model.First().Discontinued)
                </a>
            </th>
            <th>
                @SharedLocalizer["Actions"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ID">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>


<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-searchName="@ViewData["SearchName"]"
    class="btn btn-outline-primary @prevDisabled">@SharedLocalizer["Previous"]</a> 

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchName="@ViewData["SearchName"]"
   class="btn btn-outline-primary @nextDisabled">@SharedLocalizer["Next"]</a>



<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-searchName="@ViewData["SearchName"]"
               class="page-link">@SharedLocalizer["Previous"]</a>
        </li>

        @for (int i = 0; i < Model.TotalPages; i++)
        {
                <li class="page-item">
                    <a asp-action="Index" asp-route-pageNumber="@(i+1)"  class="page-link">@(i + 1)</a>
                </li>
        }

        <li class="page-item @nextDisabled">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-searchName="@ViewData["SearchName"]"
               class="page-link">@SharedLocalizer["Next"]</a>
        </li>
    </ul>
</nav>